/**
*@author :hly
*@github :github.com/SiriusHly
@blog :blog.csdn.net/Sirius_hly
*@date :2018/8/14
*/

.sidebar {
    width: 220px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 54px;
    background: #2d353c;
    z-index: 10
}